
 {% macro nav() %}
    <nav>
        <a href="{{ path }}/">Accueil</a>
        <a href="#">rendez-vous</a>
        <a href="#">activities</a>
        <a href="#">Notes</a>
        <a href="#">Mon profil</a>
    </nav>
{% endmacro %}