/*


#BF4E30

#011936

#88A0A8

#32533D

#FEDC97


*/

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(32, 32, 32);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    
}


body a {
    text-decoration: none;
    font-size: 16px;

}

body>header {
    grid-area: header;
    background-color: #BF4E30;
    flex: 2;
    
}

body main {
    grid-area: main;
    background-color: rgb(167, 125, 125);
    flex:8;
}

body>footer {
    grid-area: footer;
    background-color: rgb(106, 106, 53);
    flex: 2;
}


body>header {
    display: flex;
    justify-content: space-between;
    max-height: 15vh;
    padding: 24px;
}

body>header>div {
    align-self: stretch;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

body>header>div span {
    font-size: 24px;
    line-height: 1.12;
    color: #32533D;
    font-weight: bold;
    width: fit-content;
    padding-bottom: 3px;
    border-bottom: 3px solid #32533D;
}

body>header picture {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    min-height: 10vh;
    border-radius: 50%;
}

body>header img {
    content: url(../../assets/imgs/logo.png);
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    object-fit: cover;
}

body>header nav {
    display: flex;
    gap: 12px;
}

body>header nav a {
    align-self: center;
    background-color: #fff;
    color: #0e0e0e;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 3px;
}

body>header nav a:hover {
    background-color: #0e0e0e;
    color: #fff;
}
body>.container {
    min-width: 100vw;
    display: flex;
}
body>.container>aside {
    flex:2;
}

.user-link{
    background:none;
    border:none;
}
.user-link:hover{
    background:none;
    border:none;
}



/*

ASIDE

*/

/*


#BF4E30

#011936

#88A0A8

#32533D

#FEDC97


*/

body aside {
    background-color: #e5e5e5;
    margin: 24px;
    color: #fff;

}

body aside>header {
    background-color: #32533D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

body aside>nav {
    padding: 24px;

}

body aside>nav a {
    background-color: rgb(201, 201, 201);
    width: 100%;
    display: inline-block;
    color: #BF4E30;
    font-size: 16px;
    padding: 6px 12px;
}

body aside>nav a:hover {
    background-color: rgb(255, 255, 255);
}

body aside ul {
    list-style: none;
    display: flex;
    flex-flow: column;
}

body aside>nav>ul {
    gap: 12px;
}

body aside>nav>ul>li {}

body aside>nav>ul>li>span {
    display: inline-block;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 12px;
}

body aside>nav>ul>li li {
    margin: 0 24px;
}

body aside>nav>ul>li ul {
    gap: 8px;
}

/*

Main
*/





body main {
    background-color: rgb(255, 255, 255);
    margin: 24px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

body main h2 {
    font-size: 28px;
}

body main .form-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

body main .form-container>form {
    padding: 46px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 6px;
}

body main .form-group {
    width: 500px;
    background-color: rgb(225, 225, 225);
    padding: 12px;
    display: flex;
    flex-flow: column;
    gap: 12px;
    /* align-items: center; */
    justify-content: space-between;
}

body main .form-group>* {
    display: block;
    /* flex: 1; */
}

body main .form-group>label {
    font-size: 18px;
    min-width: fit-content;
    font-weight: bold;
}

body main .form-group>label::after {
    content: "";
}

body main .form-group>input {
    height: 35px;
    min-width: 250px;
    padding-left: 24px;
}

.container section {
    background-color: #e5e5e5;
    color: #333;
    padding: 24px;
}

.container section>header {
    background-color: #32533D;
    color: #fff;
    margin-bottom: 12px;
    padding: 24px;
}

.container section>div {
    background-color: #ffffff;
    margin-bottom: 12px;
    padding: 24px;

}

.container section>div>.groupe-info:nth-child(odd) {}

.container section .groupe-info {
    margin-bottom: 12px;
}

.container section .groupe-info small {
    font-size: 18px;
    font-weight: bold;
    margin-right: 24px;
    color: #BF4E30;
}

.container section .groupe-info small::after {
    content: " :";
    color: #BF4E30;
}

.container section .groupe-info span {
    font-size: 16px;
    font-weight: bold;
}

.container section>div {}


.btn {
    background-color: #32533D;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 12px;

}

/*

table
*/

/* 
.table th {
    border: 1px solid rgb(151, 148, 148);
    font-size: 16px;
    min-width: 70px;
    padding: 6px 8px;
}

.table td {
    font-size: 14px;
}

.table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}

.table .btn {
    padding: 6px 8px;
    background-color: #32533D;
    border-color: #32533D;
}

.table .btn:hover {
    background-color: #BF4E30;
}

.table .btn-secondary {
    background-color: rgb(52, 47, 47);
}

.table .btn-secondary:hover {
    color: #fff;
} */

/* Footer */

body footer {
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 20px;
    color: #d9d9d9;
    margin-top: 64px;
    bottom: 0;
}

body footer>* {
    margin-bottom: 12px;
}

.btn:hover {
    background-color: #0a120d;
}

/**
* 
*Page 404 not found

*/
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
main {
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif;
}
main #errorText {
  font-size: 22px;
  margin: 14px 0;
}
main #errorLink {
  font-size: 20px;
  padding: 12px;
  border: 1px solid;
  color: #000;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
main #errorLink:hover, main #errorLink:active {
  color: #fff;
  background: #000;
}
main #g6219 {
  transform-origin: 85px 4px;
  -webkit-animation: an1 12s 0.5s infinite ease-out;
          animation: an1 12s 0.5s infinite ease-out;
}

@-webkit-keyframes an1 {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-2.5deg);
  }
  25% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(-1.5deg);
  }
  45% {
    transform: rotate(1deg);
  }
  55% {
    transform: rotate(-1.5deg);
  }
  65% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  85% {
    transform: rotate(2.5deg);
  }
  95% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes an1 {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-2.5deg);
  }
  25% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(-1.5deg);
  }
  45% {
    transform: rotate(1deg);
  }
  55% {
    transform: rotate(-1.5deg);
  }
  65% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  85% {
    transform: rotate(2.5deg);
  }
  95% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}