  {% import "components/head.twig" as head %}
  {% import "components/aside.twig" as aside %}
  {% import "components/nav.twig" as nav %}
  {% import "components/footer.twig" as footer %}
<!DOCTYPE html>
<html lang="en">

{{head.head('welcome')}}
<body>
    <header>
        <div class="logo">
            <picture>
                <img src="" alt="logo">
            </picture>
            <span>Time-Manager</span>
        </div>
        {{nav.nav()}}
    </header>
            {{aside.aside()}}
    <main>
        <h1>Welcome</h1>
    </main>

         {{footer.footer()}}
</body>

</html>